:root {
    --cafe-oscuro: #4a3728;
    --crema: #f4ece1;
    --acento: #8b5a2b;
    --exito: #4caf50;
}

body {
    margin: 0;
    background-color: var(--crema);
    color: var(--cafe-oscuro);
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#game-container {
    width: 100vw;
    height: 100vh;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

#bascula {
    background-color: #333;
    color: #00ff00; /* Verde digital */
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #999;
    margin: 20px 0;
    box-shadow: inset 0 0 15px black;
}

.unit { font-size: 1.5rem; margin-left: 5px; }

#btn-verter {
    background-color: var(--acento);
    color: white;
    border: none;
    padding: 30px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-weight: bold;
    box-shadow: 0 6px #5d3a1a;
    touch-action: none; /* Vital para iPad */
}

#btn-verter:active {
    transform: scale(0.95);
    box-shadow: 0 2px #5d3a1a;
}

.hidden { display: none; }

#btn-siguiente {
    background-color: var(--exito);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 20px;
}
